<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="PuLSAR">

<xacro:include filename="$(find pulsar_description)/urdf/chassis/chassis.urdf.xacro"/>
<xacro:include filename="$(find pulsar_description)/urdf/wheel/wheel.urdf.xacro"/>
<xacro:include filename="$(find pulsar_description)/urdf/laser_range_finder/laser_range_finder.urdf.xacro"/>
<xacro:include filename="$(find pulsar_description)/urdf/imu/imu.urdf.xacro"/>

<link name="base_link"/>

<gazebo>
    <self_collide>false</self_collide>
    <plugin name="pulsar_plugin" filename="libpulsar_gazebo_plugin.so">
        <!-- ROS parameters -->
        <namespace>/</namespace>
        <odomTopic>odometry/filtered</odomTopic>
        <cmdVelTopic>cmd_vel</cmdVelTopic>
        <imuTopic>imu/data</imuTopic>

        <!-- EKF parameters -->
        <Q_x>1e-6</Q_x>
        <Q_y>1e-6</Q_y>
        <Q_th>1e-6</Q_th>
        <Q_x_dot>1e-6</Q_x_dot>
        <Q_th_dot>1e-6</Q_th_dot>

        <!-- Motor controller parameters -->
        <motorKp>0.09</motorKp>
        <motorKi>0.0</motorKi>
        <!--<motorMaxTorque>0.006</motorMaxTorque>-->
        <motorMaxTorque>0.006</motorMaxTorque>

        <!-- Odometry parameters -->
        <cpr>4000</cpr>
        <wheelRadius>0.015</wheelRadius>
        <wheelSeparation>0.0375</wheelSeparation>
        <updateRate>100</updateRate>
        <odomUniformNoise>0.01</odomUniformNoise>

        <!-- Wheel joints -->
        <leftWheelJointName>left_wheel_joint</leftWheelJointName>
        <rightWheelJointName>right_wheel_joint</rightWheelJointName>
    </plugin>
</gazebo>

<xacro:chassis/>
<xacro:wheel name="left" side="1"/>
<xacro:wheel name="right" side="-1"/>
<xacro:laser_range_finder name="left_range_finder" yaw="0.5236"/>
<xacro:laser_range_finder name="middle_range_finder" yaw="0.0"/>
<xacro:laser_range_finder name="right_range_finder" yaw="-0.5236"/>
<xacro:imu/>

</robot>
